@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat';
  background-color: #212121;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
}

.highlighter {
  position: absolute;
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
}

.videoView p {
  position: absolute;
  padding: 4px;  /* Unified padding */
  background-color: #007f8b;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  /* Text shadow for better visibility */
  border: 1px dashed rgba(255, 255, 255, 0.7);
  margin: 0;
  z-index: 2;
  font-size: 12px;  /* Slightly larger font size for mobile readability */
  border-radius: 3px;  /* Added for aesthetic reasons */
}

/* Media Query for Larger Devices (tablets and desktops) */
@media (min-width: 768px) {
  .videoView p {
    font-size: 12px;    /* Reset to original size on larger devices */
    padding: 5px 5px;    /* Reset padding */
  }
}