@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat';
  background-color: #212121;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  z-index: 3;
}

video {
  width: auto;
  height: 100vh;
}

.highlighter {
  position: absolute;
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  border-radius: 20px;
  z-index: 1;
}

.videoView p {
  position: absolute;
  margin: 0;
  padding: 4px;
  background-color: #007f8b;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

/* Media Query for Larger Devices (tablets and desktops) */
@media (min-width: 768px) {
  .videoView p {
    font-size: 12px;
    /* Reset to original size on larger devices */
    padding: 5px 5px;
    /* Reset padding */
  }
}