@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf');
  src: url('Montserrat-Regular.woff');
  src: url('Montserrat-Regular.woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  user-select: none;
}

body {
  background-color: #35363A;
  overflow: hidden;
}

.content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #35363A;
}

video {
  width: 100%;
}

.highlighter {
  position: absolute;
  background: rgba(0, 255, 0, 0);
  border: 1px dashed #fff;
  border-radius: 20px;
}

.label {
  width: 100%;
  padding: 2px 4px 2px 4px;
  background-color: #35363A;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px dashed rgba(255, 255, 255, 0.7);
  font-size: 12px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.label::first-letter {
  text-transform: capitalize;
}